*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Zilla Slab', serif;
}

body{
    background: #0F0513;
    color: #FFF;
}


header{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding: 20px 0;
    margin: 35px 0;
}

section{
    display: flex;
    justify-content: center;
}

section .form{
    width: 100%;
    display: flex;
    justify-content: center
}

section .form label{
    width: 35%;
}

section .form label input{
    font-size: 25px;
    text-indent: 5px;
    text-transform: capitalize;
    padding: 5px 0;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #FE5833;
    width: 100%;
    background: none;
    color: #FFF;
}

::placeholder{
    color:  #FFF
}

section .form button{
    border: none;
    background: none;
    margin-left: 5px;
    position: relative;
    cursor: pointer;
    outline: none;
}
section .form button i{
    font-size: 25px;
    position: absolute;
    top: 15px;
    left: 15px;
    color:#FF0216 ;
}

article{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
    margin: 35px 0;
}

article .todo{
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    background: rgba(100, 118, 255, .3) ;
    padding: 10px 0;
    text-indent: 10px;
    border-radius: 5px;

}

article .color{
    background: rgba(231, 234, 255, 0.3)
}

article .todo .word{
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold
}

article .todo .line-through{
    text-decoration: line-through;
}

article .todo .icons i{
    font-size: 20px;
    margin: 0 20px 0 0;
    cursor: pointer;
}


article .todo .icons i:first-child{
    color: #FF0216;
}

article .todo .icons i:last-child{
    color: #FE5833 
}